{% extends 'base.html' %}
{% block title %}Edit Review · GT Movies Store{% endblock %}
{% block content %}
  <h1>Edit Review for "{{ template_data.movie.title }}"</h1>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <textarea name="comment" class="form-control" rows="5" required>{{ template_data.review.comment }}</textarea>
    </div>
    <button class="btn btn-primary">Save</button>
    <a class="btn btn-outline-light" href="{% url 'movies.show' template_data.movie.id %}">Cancel</a>
  </form>
{% endblock %}
