{% extends 'base.html' %}
{% block title %}Login · GT Movies Store{% endblock %}
{% block content %}
  <h1>Login</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input class="form-control" type="text" name="username" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input class="form-control" type="password" name="password" required>
    </div>
    <button class="btn btn-primary">Login</button>
  </form>
{% endblock %}
